<a href="https://colab.research.google.com/github/FareyaAli/practice/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
from pickleshare import pickle
num=8.05824
print("%.2f" % num)

8.06

In [30]:
x=[]
for i in range(0,5):
     item =float(input("enter number:i"))
     x.append(item) 

print (x)

enter number:i5
enter number:i4
enter number:i5
enter number:i4
enter number:i5
[5.0, 4.0, 5.0, 4.0, 5.0]

In [ ]:
with open("test.txt","r") as fp:
      ### read lines 
      lines= fp.readlines()

In [35]:
str1, str2, str3 = input("Enter three string").split()
print('Name1:', str1)
print('Name2:', str2)
print('Name3:', str3)

Enter three stringfareya ff ff
Name1: fareya
Name2: ff
Name3: ff

In [38]:
s,d,f= input("enter threestrings").split()
print(s)
print(d)
print(f)

enter threestringsff ff ff
ff
ff
ff

In [39]:
list1=[1,6,4,52,85]
list2=[5.6,6,5,25]
lst=[]
for num in list1:
  if num % 2 == 0:
    lst.append(num)

for num in list2:
   if num % 2 != 0:
     lst.append(num)
print (lst)

[6, 4, 52, 5.6, 5, 25]

In [3]:
number = 7526
while number>0:
 digit = number % 10
 number = number // 10
 print (digit,end="")

6257

In [23]:
from ast import Return
from inspect import EndOfBlock
income =int(input("mention your salary"))
if income>1000:
    if  income <= 10000:
       interest = (income-1000)*0.10
       print (interest)
    else: 
        interest= 10000*0.10+ (income-11000)*0.20
        print (interest)

else:
  print("no interest for you")
Return

mention your salary65000
11800.0

_ast.Return

In [5]:
for i in range(0,11):
  for j in range(0,11):
    print (i*j,end= " ")
  print("\t\t")

0 0 0 0 0 0 0 0 0 0 0
0 1 2 3 4 5 6 7 8 9 10
0 2 4 6 8 10 12 14 16 18 20
0 3 6 9 12 15 18 21 24 27 30
0 4 8 12 16 20 24 28 32 36 40
0 5 10 15 20 25 30 35 40 45 50
0 6 12 18 24 30 36 42 48 54 60
0 7 14 21 28 35 42 49 56 63 70
0 8 16 24 32 40 48 56 64 72 80
0 9 18 27 36 45 54 63 72 81 90
0 10 20 30 40 50 60 70 80 90 100